# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env

# Backend
backend/__pycache__/
backend/venv/
.env


# --- Python (FastAPI) 관련 ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
dataset/
uploads/


# --- Node (React) 관련 ---
node_modules/
dist/
build/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
android/
ios/

# --- 주피터 노트북 관련 ---
.ipynb_checkpoints/

# --- 기타 ---
.vscode/
.idea/
.expo/